body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  transform: translateY(-100%);
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.list-group {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

.show-group {
  visibility: visible;
  height: 206px;
}

/* (참고) Bootstrap 스타일이 적용된 요소는 css 덮어쓰기가 어려울 수 있습니다.
bg-dark 클래스명을 bg-light 이런 식으로 바꾸거나 아니면 붙어있던 class를 제거하거나 그러면 됩니다. */

/* 진짜 다크모드는 <body>에 미리 만들어놓은 클래스 부착, 제거 코드 작성 */

.bg-white {
  background-color: #ffffff;
  color: black;
}

.badge {
  cursor: pointer;
}
